{% extends 'base_main.html' %}
{% load static %}


{% block title %}Payment cancelled{%endblock%}

{% block content %}
<main class="container mt-header">
	<article class="row">
		<div class="col-12 col-lg-6 mb-3 mb-lg-0">
			<h4 class="fw-lighter SelfStorage_grey mb-5">Оплата прошла успешно!</h4>
            <a href="{% url 'my_rent' %}" class="btn border-8 py-3 px-5 w-100 text-white fs_24 SelfStorage__bg_orange SelfStorage__btn2_orange">Вернуться в личный кабинет</a>
		</div>
		<div class="col-12 col-lg-6 SelfStorage__img"></div>
	</article>
</main>
{%endblock%}
