{% extends 'base_short.html' %}
{% load static %}


{% block title %}My rent{%endblock%}

{% block content %}

<main class="container mt-header">
	<div class="row" role="tablist">
		<div class="col-lg-3 d-flex flex-column nav nav-pills">
			<button class="ps-0 btn bg-white fs_24 shadow-none SelfStorage_orange SelfStorage_tab active" id="LK-tab" data-bs-toggle="pill" data-bs-target="#LK" type="button" role="tab" aria-controls="LK" aria-selected="true">Личный кабинет</button>
			<button class="ps-0 btn bg-white fs_24 shadow-none SelfStorage_grey SelfStorage_tab" id="Rent-tab" data-bs-toggle="pill" data-bs-target="#Rent" type="button" role="tab" aria-controls="Rent" aria-selected="false">Моя аренда</button>
			<a href="{% url 'faq' %}" class="btn fs_24 shadow-none text-decoration-none SelfStorage_grey SelfStorage_tab">FAQ</a>
			<a href="{% url 'log_out' %}" class="btn fs_24 shadow-none text-decoration-none SelfStorage_grey SelfStorage_tab">Выйти</a>
		</div>
		<div class="col-lg-9">
			<div class="card tab-content p-5">
				<div class="tab-pane fade show active" id="LK" role="tabpanel" aria-labelledby="LK-tab">
					<div class="row">
						<div class="col-12 col-sm-5 d-flex flex-column align-items-center">
							<img src="{{ image_url }}"  alt="" class="rounded-pill mb-3"  width="60%">
							<h4>{{ first_name }} {{ last_name }}</h4>
						</div>
						<div class="col-12 col-sm-7 d-flex flex-column">
							<form>
								<label class="fs_24 SelfStorage_green ms-2" for="EMAIL">E-mail</label>
								<input type="email" name="EMAIL_EDIT" id="EMAIL" class="form-control fs_24 ps-2 SelfStorage__input" value={{ email }} disabled>
								<label class="fs_24 SelfStorage_green ms-2" for="PHONE">Телефон</label>
								<input type="tel" name="PHONE_EDIT" id="PHONE" class="form-control fs_24 ps-2 SelfStorage__input" value={{ phone_number }} disabled>
								
								<button type="submit" class="btn SelfStorage_green ps-1" id="save" style="display: none">Сохранить</button>
								<a class="btn SelfStorage_orange ps-1" id="edit">Редактировать</a>
								<a type="button" class="btn SelfStorage_orange ps-1" id="change_password" href="{% url 'change_password' %}">Сменить пароль</a>
								<script>
									document.getElementById('edit').addEventListener('click', e => {
										e.preventDefault()
										document.getElementById('EMAIL').disabled = false
										document.getElementById('PHONE').disabled = false
										document.getElementById('change_password').style.display = 'none'
										document.getElementById('edit').style.display = 'none'
										document.getElementById('save').style.display = 'inline-block'
									})
									document.getElementById('save').addEventListener('click', () => {
										setTimeout(() => {
											document.getElementById('EMAIL').disabled = true
											document.getElementById('PHONE').disabled = true
											document.getElementById('change_password').style.display = 'inline-block'
											document.getElementById('edit').style.display = 'inline-block'
											document.getElementById('save').style.display = 'none'
										}, 0)
									})
								</script>
							</form>
						</div>
					</div>
				</div>
			
				<div class="tab-pane fade" id="Rent" role="tabpanel" aria-labelledby="Rent-tab">
					<h1 class="fw-bold SelfStorage_green mb-5">Добрый день, {{ first_name }}</h1>
					<a href="#" class="SelfStorage_orange">История аренды</a>
					{% for box in user_boxes %}
                    {% if box.warning %}
                        <h4 class="SelfStorage_grey my-3">{{ box.warning }}</h4>
                        {% endif %}
					<div class="mb-5">
						<h4 class="SelfStorage_green">Мой склад №{{ box.storage_number }}</h4>
						<h4>{{ box.storage_location_city }}, ул. {{ box.storage_location_street_name }}, д. {{ box.storage_location_street_number }}</h4>
						<h4 class="SelfStorage_green">Мой бокс</h4>
						<h4>№{{ box.number }}</h4>
						<h4 class="SelfStorage_green">Срок аренды</h4>
						<h4>{{ box.rental_start_time }} - {{ box.rental_end_time }}</h4>
						<div><button class="btn fs_24 px-5 py-3 text-white border-8 SelfStorage__bg_green SelfStorage__btn2_green mb-3">Продлить аренду</button></div>
						<div><button class="btn fs_24 px-5 py-3 text-white border-8 SelfStorage__bg_orange SelfStorage__btn2_orange mb-3">Открыть бокс</button></div>
						<a href="#" class="SelfStorage_orange">Нужна помощь?</a>
					</div>
                    {% endfor %}
					</div>
				</div>
			</div>
		</div>
	</div>
</main>
{%endblock%}